.editor {
    margin: 0;
    min-width: 600px;
    min-height: 18rem;
    border-top: 6px solid #3a3a3a;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}
.editor img {
    width: 100%;
}
.editor .row {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 10px solid #3a3a3a;
}
.editor .row .toolbar-link {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 2px;
    color: #3a3a3a;
    position: relative;
}
.editor .row .toolbar-link:hover {
    background: rgba(0, 0, 0, 0.1);
}
.editor .row .has-submenu {
    position: relative;
}
.editor .row .has-submenu:hover .submenu {
    padding: 5px 0;
    height: auto;
    opacity: 1;
}
.editor .row .has-submenu .submenu {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}
.editor .row .has-submenu .submenu a {
    margin: 0;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    height: 40px;
    text-align: left;
    text-decoration: none;
    color: #9a9a9a;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}
.editor .row .has-submenu .submenu a:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}
.editor .row .has-submenu .submenu h1 {
    margin: 0;
}
.editor .row .has-submenu .submenu h2 {
    margin: 0;
}
.editor .row .has-submenu .submenu h3 {
    margin: 0;
}
.editor .row .has-submenu .submenu h4 {
    margin: 0;
}
.editor .row .has-submenu .submenu h5 {
    margin: 0;
}
.editor .row .has-submenu .submenu h6 {
    margin: 0;
}
.editor .row .divider {
    margin: 0;
    padding: 0;
    width: 30px;
}
.editor .content-area {
    margin: 0;
    padding: 20px;
}
.editor .content-area h1 {
    margin: 0;
}
.editor .content-area h2 {
    margin: 0;
}
.editor .content-area h3 {
    margin: 0;
}
.editor .content-area h4 {
    margin: 0;
}
.editor .content-area h5 {
    margin: 0;
}
.editor .content-area h6 {
    margin: 0;
}

/*.editor
 *  margin: 0
 *  width: 40rem
 *  min-height: 18rem
 *  box-shadow: 0 0 4px rgba(0, 0, 0, .25)
 *  border-top: 6px solid #4a4a4a
 *  border-radius: 4px
 *
 *  .toolbar
 *      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2)
 *
 *      .line
 *          display: flex
 *          border-bottom: 1px solid #e2e2e2
 *
 *      &:last-child
 *          border-bottom: none
 *
 *      .box
 *          display: flex
 *          border-left: 1px solid #e2e2e2
 *
 *          .btn
 *              display: block
 *              display: flex
 *              align-items: center
 *              justify-content: center
 *              position: relative
 *              transition: 0.2s ease all
 *
 *              &:hover, &.active
 *                  background-color: #e1e1e1
 *                  cursor: pointer
 *
 *              &.icon
 *                  img
 *                  width: 15px
 *                  padding: 10px
 *
 *              &.smaller img
 *                  width: 12px
 *
 *              &.has-submenu
 *                  width: 20px
 *                  padding: 0 10px
 *
 *                  &::after
 *                      content: ''
 *                      width: 6px
 *                      height: 6px
 *                      position: absolute
 *                      background-image: url(https://image.flaticon.com/icons/svg/25/25243.svg)
 *                      background-repeat: no-repeat
 *                      background-size: cover
 *                      background-position: center
 *                      right: 4px
 *
 *                  .submenu
 *                      display: none
 *                      position: absolute
 *                      top: 36px
 *                      left: -1px
 *                      background-color: #fff
 *                      border: 1px solid #b5b5b5
 *                      border-top: none
 *
 *                      .btn
 *                          width: 39px
 *
 *                      &:hover .submenu
 *                          display: block
 *
 *  .content-area
 *      padding: 15px 12px
 *      line-height: 1.5
 *
 *      .visuell-view
 *          outline: none
 *
 *      p
 *          margin: 12px 0
 *
 *      .html-view
 *          outline: none
 *          display: none
 *          width: 100%
 *          height: 200px
 *          border: none
 *          resize: none */